# токен сообщества
VK_TOKEN='токен сообщества'
# ID сообщества
VK_GROUP_ID=123456789
# персональный access-токен
# https://oauth.vk.com/authorize?client_id={client_id}&display=page&scope=friends,photos&response_type=token&v=5.199&state=123456&redirect_uri=https://oauth.vk.com/blank.html
SEARCH_TOKEN='персональный access-токен'


DB_HOST=localhost
DB_PORT=5432
DB_NAME=VKinder
DB_USER=postgres
DB_PASSWORD=postgres
