# токен сообщества
VK_TOKEN='токен сообщества'
# ID сообщества
VK_GROUP_ID=54668336
# персональный access-токен
SEARCH_TOKEN='персональный access-токен'


DB_HOST=localhost
DB_PORT=5432
DB_NAME=VKinder
DB_USER=postgres
DB_PASSWORD=postgres
