# токен сообщества
# токен сообщества
VK_TOKEN='токен сообщества'

# ID сообщества
VK_GROUP_ID=123456789
USER_ID='ваш id'
VK_API_VERSION=5.131

# персональный access-токен
# https://vkhost.github.io/ - получение постоянного  токена
# получение токена на сутки
# https://oauth.vk.com/authorize?client_id=54668336&display=page&scope=friends,photos,offline&response_type=token&v=5.199&redirect_uri=https://oauth.vk.com/blank.html
SEARCH_TOKEN='персональный access-токен'


DB_HOST=localhost
DB_PORT=5432
DB_NAME=VKinder
DB_USER=postgres
DB_PASSWORD=postgres